In [1]:
import numpy as np
import pandas as pd
import mirz_wrangle as w
import seaborn as sns
from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, RFE, f_regression, SequentialFeatureSelector
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = sns.load_dataset('tips')

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df['price_per_person'] = df['total_bill']/df['size']

In [5]:
df['avg_price_per_person'] = df['price_per_person'].sum()/len(df)

In [7]:
# playing with scaler for possible better rfe
scaler = MinMaxScaler()
df['ppp_scaled'] = scaler.fit_transform(df[['price_per_person']])

In [8]:
df_dummy = pd.get_dummies(df[['sex','smoker','day','time',]], dummy_na=False) #, drop_first=[True,True,True,True])

In [9]:
df_dummy

,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,0,1,0,1,0,0,0,1,0,1
1,1,0,0,1,0,0,0,1,0,1
2,1,0,0,1,0,0,0,1,0,1
3,1,0,0,1,0,0,0,1,0,1
4,0,1,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...
239,1,0,0,1,0,0,1,0,0,1
240,0,1,1,0,0,0,1,0,0,1
241,1,0,1,0,0,0,1,0,0,1
242,1,0,0,1,0,0,1,0,0,1
243,0,1,0,1,1,0,0,0,0,1

In [10]:
df = pd.concat([df,df_dummy], axis=1)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,avg_price_per_person,ppp_scaled,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,16.99,1.01,Female,No,Sun,Dinner,2,8.495000,7.88823,0.322989,0,1,0,1,0,0,0,1,0,1
1,10.34,1.66,Male,No,Sun,Dinner,3,3.446667,7.88823,0.032854,1,0,0,1,0,0,0,1,0,1
2,21.01,3.50,Male,No,Sun,Dinner,3,7.003333,7.88823,0.237261,1,0,0,1,0,0,0,1,0,1
3,23.68,3.31,Male,No,Sun,Dinner,2,11.840000,7.88823,0.515230,1,0,0,1,0,0,0,1,0,1
4,24.59,3.61,Female,No,Sun,Dinner,4,6.147500,7.88823,0.188075,0,1,0,1,0,0,0,1,0,1

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
#x = train.drop(columns=['tip','sex','smoker','day','time', 'avg_price_per_person'])
#y = train['tip']

In [13]:
train_validate, test = train_test_split(df, test_size=0.2, random_state=777)

In [14]:
train, validate = train_test_split(train_validate, test_size=0.3, random_state=777)

In [15]:
x = train.drop(columns=['tip','sex','smoker','day','time', 'avg_price_per_person'])
y = train['tip']

In [16]:
x.head()

,total_bill,size,price_per_person,ppp_scaled,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
219,30.14,4,7.5350,0.267816,0,1,1,0,0,0,1,0,0,1
197,43.11,4,10.7775,0.454167,0,1,1,0,1,0,0,0,1,0
126,8.52,2,4.2600,0.079598,1,0,0,1,1,0,0,0,1,0
52,34.81,4,8.7025,0.334914,0,1,0,1,0,0,0,1,0,1
148,9.78,2,4.8900,0.115805,1,0,0,1,1,0,0,0,1,0

>I predicted that total_bill and time will be the top prediction variables

# select_kbest

In [17]:
#kbest process manual
kbest = SelectKBest(f_regression, k=2)
_ = kbest.fit(x, y)

In [18]:
#kbest.scores_

In [19]:
#kbest.pvalues_

In [20]:
kbest_results = pd.DataFrame(dict(p=kbest.pvalues_,f=kbest.scores_),
                            index=x.columns)

In [21]:
kbest_results

                             p           f
total_bill        7.486441e-19  107.464922
size              3.839601e-12   58.266185
price_per_person  6.137630e-04   12.310364
ppp_scaled        6.137630e-04   12.310364
sex_Male          8.375949e-01    0.042177
sex_Female        8.375949e-01    0.042177
smoker_Yes        6.516957e-01    0.204687
smoker_No         6.516957e-01    0.204687
day_Thur          3.579151e-01    0.851044
day_Fri           1.285736e-01    2.338434
day_Sat           7.101686e-01    0.138697
day_Sun           1.818803e-01    1.800841
time_Lunch        1.897771e-01    1.736929
time_Dinner       1.897771e-01    1.736929

In [22]:
x_transformed = pd.DataFrame(
    kbest.transform(x),
    columns=x.columns[kbest.get_support()],
    index=x.index)

In [23]:
x_transformed.head(3)

     total_bill  size
219       30.14   4.0
197       43.11   4.0
126        8.52   2.0

In [24]:
# combine manual kbest process into function
def selectkbest(pred_vars, target_var, k_features):
        kbest = SelectKBest(f_regression, k=k_features)
        _ = kbest.fit(pred_vars, target_var)
        kbest_results = pd.DataFrame(dict(p=kbest.pvalues_,f=kbest.scores_),
                            index=pred_vars.columns)
        pred_vars_transformed = pd.DataFrame(
        kbest.transform(pred_vars),
        columns=pred_vars.columns[kbest.get_support()],
        index=pred_vars.index)
        return pred_vars_transformed

In [25]:
# working as intended
selectkbest(x,y,2)

     total_bill  size
219       30.14   4.0
197       43.11   4.0
126        8.52   2.0
52        34.81   4.0
148        9.78   2.0
62        11.02   2.0
199       13.51   2.0
3         23.68   2.0
111        7.25   1.0
225       16.27   2.0
154       19.77   4.0
39        31.27   3.0
204       20.53   4.0
172        7.25   2.0
109       14.31   2.0
169       10.63   2.0
92         5.75   2.0
193       15.48   2.0
58        11.24   2.0
43         9.68   2.0
84        15.98   2.0
141       34.30   6.0
4         24.59   4.0
85        34.83   4.0
29        19.65   2.0
153       24.55   4.0
220       12.16   2.0
51        10.29   2.0
182       45.35   3.0
28        21.70   2.0
24        19.82   2.0
108       18.24   2.0
146       18.64   3.0
67         3.07   1.0
191       19.81   2.0
223       15.98   3.0
15        21.58   2.0
69        15.01   2.0
71        17.07   3.0
73        25.28   2.0
21        20.29   2.0
1         10.34   3.0
50        12.54   2.0
234       15.53   2.0
87        18.28   2.0
78        22.76   2.0
180       34.65   4.0
32        15.06   2.0
158       13.39   2.0
86        13.03   2.0
97        12.03   2.0
106       20.49   2.0
42        13.94   2.0
125       29.80   6.0
14        14.83   2.0
151       13.13   2.0
2         21.01   3.0
102       44.30   3.0
30         9.55   2.0
222        8.58   1.0
122       14.26   2.0
138       16.00   2.0
159       16.49   4.0
145        8.35   2.0
79        17.29   2.0
118       12.43   2.0
231       15.69   3.0
116       29.93   4.0
192       28.44   2.0
217       11.59   2.0
16        10.33   3.0
208       24.27   2.0
229       22.12   2.0
120       11.69   2.0
119       24.08   4.0
226       10.09   2.0
37        16.93   3.0
235       10.07   2.0
90        28.97   2.0
167       31.71   4.0
143       27.05   6.0
53         9.94   2.0
18        16.97   3.0
189       23.10   3.0
10        10.27   2.0
240       27.18   2.0
184       40.55   2.0
179       34.63   2.0
202       13.00   2.0
110       14.00   2.0
8         15.04   2.0
132       11.17   2.0
190       15.69   2.0
214       28.17   3.0
107       25.21   2.0
23        39.42   4.0
80        19.44   2.0
216       28.15   5.0
176       17.89   2.0
188       18.15   3.0
174       16.82   2.0
129       22.82   3.0
198       13.00   2.0
135        8.51   2.0
34        17.78   2.0
155       29.85   5.0
150       14.07   2.0
65        20.08   3.0
239       29.03   3.0
103       22.42   2.0
221       13.42   2.0
91        22.49   2.0
63        18.29   4.0
136       10.33   2.0
238       35.83   3.0
156       48.17   6.0
206       26.59   3.0
232       11.61   2.0
40        16.04   3.0
36        16.31   3.0
171       15.81   2.0
130       19.08   2.0
113       23.95   2.0
35        24.06   3.0
75        10.51   2.0
187       30.46   5.0
17        16.29   3.0
105       15.36   2.0
70        12.02   2.0
55        19.49   2.0
142       41.19   5.0
183       23.17   4.0
243       18.78   2.0
11        35.26   4.0
77        27.20   4.0
44        30.40   4.0

# rfe

In [26]:
model = LinearRegression()

In [27]:
rfe = RFE(model, n_features_to_select=2)
rfe.fit(x,y)
rfe.ranking_

array([ 7,  1, 12, 13,  9, 11,  3,  8,  4, 10,  1,  2,  6,  5])

In [28]:
pd.DataFrame(
{
    'rfe_ranking':rfe.ranking_
}, index=x.columns)

                  rfe_ranking
total_bill                  7
size                        1
price_per_person           12
ppp_scaled                 13
sex_Male                    9
sex_Female                 11
smoker_Yes                  3
smoker_No                   8
day_Thur                    4
day_Fri                    10
day_Sat                     1
day_Sun                     2
time_Lunch                  6
time_Dinner                 5

In [29]:
rfe.get_support()

array([False,  True, False, False, False, False, False, False, False,
       False,  True, False, False, False])

In [30]:
x_transformed = pd.DataFrame(
rfe.transform(x),
index = x.index,
columns = x.columns[rfe.support_])

In [31]:
x_transformed.head()

     size  day_Sat
219   4.0      1.0
197   4.0      0.0
126   2.0      0.0
52    4.0      0.0
148   2.0      0.0

In [32]:
# combine manual rfe process into function
def rfe(pred_vars, target_var, n_features):
    model = LinearRegression()
    rfe = RFE(model, n_features_to_select=n_features)
    rfe.fit(pred_vars,target_var)
    #rfe.ranking_
    
    pred_vars_transformed = pd.DataFrame(
    rfe.transform(pred_vars),
    index = pred_vars.index,
    columns = pred_vars.columns[rfe.support_])
    
    return pred_vars_transformed

In [33]:
# working as intended
rfe(x,y,2)

     size  day_Sat
219   4.0      1.0
197   4.0      0.0
126   2.0      0.0
52    4.0      0.0
148   2.0      0.0
62    2.0      1.0
199   2.0      0.0
3     2.0      0.0
111   1.0      1.0
225   2.0      0.0
154   4.0      0.0
39    3.0      1.0
204   4.0      0.0
172   2.0      0.0
109   2.0      1.0
169   2.0      1.0
92    2.0      0.0
193   2.0      0.0
58    2.0      1.0
43    2.0      0.0
84    2.0      0.0
141   6.0      0.0
4     4.0      0.0
85    4.0      0.0
29    2.0      1.0
153   4.0      0.0
220   2.0      0.0
51    2.0      0.0
182   3.0      0.0
28    2.0      1.0
24    2.0      1.0
108   2.0      1.0
146   3.0      0.0
67    1.0      1.0
191   2.0      0.0
223   3.0      0.0
15    2.0      0.0
69    2.0      1.0
71    3.0      1.0
73    2.0      1.0
21    2.0      1.0
1     3.0      0.0
50    2.0      0.0
234   2.0      1.0
87    2.0      0.0
78    2.0      0.0
180   4.0      0.0
32    2.0      1.0
158   2.0      0.0
86    2.0      0.0
97    2.0      0.0
106   2.0      1.0
42    2.0      0.0
125   6.0      0.0
14    2.0      0.0
151   2.0      0.0
2     3.0      0.0
102   3.0      1.0
30    2.0      1.0
222   1.0      0.0
122   2.0      0.0
138   2.0      0.0
159   4.0      0.0
145   2.0      0.0
79    2.0      0.0
118   2.0      0.0
231   3.0      1.0
116   4.0      0.0
192   2.0      0.0
217   2.0      1.0
16    3.0      0.0
208   2.0      1.0
229   2.0      1.0
120   2.0      0.0
119   4.0      0.0
226   2.0      0.0
37    3.0      1.0
235   2.0      1.0
90    2.0      0.0
167   4.0      0.0
143   6.0      0.0
53    2.0      0.0
18    3.0      0.0
189   3.0      0.0
10    2.0      0.0
240   2.0      1.0
184   2.0      0.0
179   2.0      0.0
202   2.0      0.0
110   2.0      1.0
8     2.0      0.0
132   2.0      0.0
190   2.0      0.0
214   3.0      1.0
107   2.0      1.0
23    4.0      1.0
80    2.0      0.0
216   5.0      1.0
176   2.0      0.0
188   3.0      0.0
174   2.0      0.0
129   3.0      0.0
198   2.0      0.0
135   2.0      0.0
34    2.0      1.0
155   5.0      0.0
150   2.0      0.0
65    3.0      1.0
239   3.0      1.0
103   2.0      1.0
221   2.0      0.0
91    2.0      0.0
63    4.0      1.0
136   2.0      0.0
238   3.0      1.0
156   6.0      0.0
206   3.0      1.0
232   2.0      1.0
40    3.0      1.0
36    3.0      1.0
171   2.0      1.0
130   2.0      0.0
113   2.0      0.0
35    3.0      1.0
75    2.0      1.0
187   5.0      0.0
17    3.0      0.0
105   2.0      1.0
70    2.0      1.0
55    2.0      0.0
142   5.0      0.0
183   4.0      0.0
243   2.0      0.0
11    4.0      0.0
77    4.0      0.0
44    4.0      0.0

# selectkbest() and rfe() on swiss

In [34]:
df2 = data('swiss')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, Courtelary to Rive Gauche
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fertility         47 non-null     float64
 1   Agriculture       47 non-null     float64
 2   Examination       47 non-null     int64
 3   Education         47 non-null     int64
 4   Catholic          47 non-null     float64
 5   Infant.Mortality  47 non-null     float64
dtypes: float64(4), int64(2)
memory usage: 2.6+ KB

In [35]:
predictors = df2[['Agriculture','Examination','Education', 'Catholic', 'Infant.Mortality']]
target = df2['Fertility']

In [36]:
selectkbest(predictors,target,2).head()

              Examination  Education
Courtelary           15.0       12.0
Delemont              6.0        9.0
Franches-Mnt          5.0        5.0
Moutier              12.0        7.0
Neuveville           17.0       15.0

In [37]:
rfe(predictors,target,2).head()

              Education  Infant.Mortality
Courtelary         12.0              22.2
Delemont            9.0              22.2
Franches-Mnt        5.0              20.2
Moutier             7.0              20.3
Neuveville         15.0              20.6